<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title
	th:text="'Spring Boot: MVC + Thymeleaf + Data JPA - ' + ${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
</head>
<body>

	<header th:fragment="header">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/}">Spring Boot</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" th:href="@{/}" th:text="#{text.menu.home}">Home</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/listar}" th:text="#{text.menu.customer}">Customer</a></li>
				</ul>
				<ul class="navbar-nav navbar-right">
					<li sec:authorize="!isAuthenticated()"><a
						class="btn btn-outline-primary" th:href="@{/login}" th:text="#{text.menu.signin}">Sign In</a></li>

					<li sec:authorize="isAuthenticated()" class="dropdown show"><a
						class="btn btn-outline-primary dropdown-toggle" href="#"
						role="button" id="dropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"><span
							sec:authentication="name"></span></a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<form id="logoutForm" th:action="@{/logout}" method="post">
								<button class="dropdown-item"
									onclick="document.getElementById('logoutForm').submit();"
									type="submit" th:text="#{text.menu.signout}">Sign Out</button>
								<!--<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" />-->
							</form>

						</div></li>
				</ul>
				<ul class="navbar-nav navbar-right mx-4">
					<li class="nav-item mx-1"><a class="btn btn-outline-success"
						th:href="@{/locale(lang=es_ES)}">ES</a></li>
					<li class="nav-item mx-1"><a class="btn btn-outline-success"
						th:href="@{/locale(lang=en_US)}">EN</a></li>
					<li class="nav-item mx-1"><a class="btn btn-outline-success"
						th:href="@{/locale(lang=de_DE)}">DE</a></li>

					<li class="nav-item dropdown show mx-2"><a
						class="btn btn-outline-primary dropdown-toggle" href="#"
						role="button" id="dropdownLenguaje" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"><span
							th:text="#{text.locale.language}"></span></a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" th:href="@{/locale(lang=es_ES)}"
								th:text="#{text.locale.es}">ES</a> <a class="dropdown-item"
								th:href="@{/locale(lang=en_US)}" th:text="#{text.locale.en}">EN</a>
							<a class="dropdown-item" th:href="@{/locale(lang=de_DE)}"
								th:text="#{text.locale.de}">DE</a>
						</div></li>
				</ul>
			</div>
		</nav>

		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</header>

	<div class="container"></div>

	<footer th:fragment="footer" class="container">
		<hr />
		<img th:src="@{/images/spring.png}" alt="Spring logo" />
		<p sec:authorize="isAuthenticated()">
			<span th:text="#{text.footer.user}">Usuario logeado:</span> <span sec:authentication="name"></span> | <span th:text="#{text.footer.roles}">Roles:</span> <span
				sec:authentication="principal.authorities"></span>
		</p>
		<p th:utext="#{text.footer.powered}">
			Powered by <a href="https://projects.spring.io/spring-boot/">Spring
				Boot</a> y <a href="http://www.thymeleaf.org">Thymeleaf</a>.
		</p>
		<p th:utext="#{text.footer.copy}">
			Este proyecto fue desarrollado en IDE Eclipse + Spring Plugins (STS
			Spring Tool), profesor Andrés Guzmán.<br /> &copy; Company 2017,
			Inc. Todos los derechos reservados. Términos de uso y privacidad.<br />
		</p>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
	</footer>
</body>
</html>